body {
  position:absolute;
  background-color:blue;
  color:red ;


}
section {
  position: relative;
  text-align:center;
 
  

}
hr {
  width:75%;
}

button {
width:80px;
height: 20px;
border-radius: 5px;
background-color: yellow;


}
#answer {
  padding: 0px 20px 0px 50px;
}
#img {

  padding: 0px 20px 0px 50px;
}
.circle {
  width:150px;
  height:150px;
}
.circle svg {
position:relative;
width:150px;
height:150px;
transform: rotate(270deg);





























}
